@import '../variable.scss';
.productsCheckout{
  width: 70%;
  margin: 0 auto;
  background-color: $lighWhite;
  &__actionStore{
    width: 100%;
    text-align: center;
    >span{
      margin:0 5em;
    }
  }
  &__list{
    margin: 5em auto;
  }
  &__actionFinish{
    display: flex;
    justify-content: flex-end;
  }
}
